<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>item list</h1>
    <table border="2">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(item => { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.email %></td>
                    <td>
                        <a href="/edit/<%= item._id %>" class="btn btn-warning">Edit</a>
                        <form action="/delete/<%= item._id %>?_method=DELETE" method="post">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>
</html>